.mainContainer{
    max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}
.gridContainer{
    display: grid;
    grid-template-columns: 320px 1fr;
}
.sectionRight{
    background-color: rgb(235, 197, 197);
}