.asideMenu{
    padding: 20px;
    width: 315px;
    border-right: 3px solid var(--bg-pg);
    color: var(--white-text);
   
}
.MenuHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.MenuHeader h2{
    font-size: 2.4rem;
    margin-left: 8px;
}
.asideMenu ul{
    list-style: none;
}
.asideMenu ul li{
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.asideMenu ul li a{
   text-decoration: none;
}
.asideMenu img{
    width: 50px;
    height: 50px;
}

.arrowContainer{
    display: none;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 50px;
    background-color: var(--bg-aside);
    border-radius: 70px;
    border: 2px solid #242a3d;
    opacity: 0.6;
}

.MoveLeftMenu{
    transform: translateX(-305px);
    transition: transform 0.6s ease;
}
.MoveRightMenu{
    
    transition: transform 0.6s ease;
}