.homePageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 580px;

    color: white;  
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.homePageContainer button{
    margin-top: 45px;
    width: 150px;
    height: 40px;
    background-color: var(--green);
    border-style: none;
    border-radius: 10px;
    color: var(--white-text);
    font-size: 1.6rem;
}
.homePageContainer button:hover {
    background-color: var(--green-dark);
    cursor: pointer;
}
h1{
    font-size: 6.0rem
}
h2{
    font-size: 3.0rem;
}