.main{
    width: 100%;
    background-image: url('../../assets/astronaut-floating-space.png');
    
    position: absolute;
    z-index: 1;
}

.homePageContainer{
    color: white;
   
    text-align: center;
    z-index: 10;
    
}
h1{
    font-size: 6.0rem
}
h2{
    font-size: 3.0rem;
}